//base color
.green_color {
	color: #00A48E;
}

.left_content {
	width: 20%;
	display: inline-block;
}
.right_content {
	width: 60%;
	display: inline-block;
	vertical-align: top;
}

.site_logo {
	text-align: center;
	width: 50%;
}
.table_icon {
	margin:10px;
	display:inline-block;
	vertical-align:middle;
}

.table_item_name {
	display: inline-block;
	vertical-align: middle;
	color: #00A48E;
}

.hero {
	width: 100%;
}
